<md-toolbar ng-controller="LoginCtrl as loginCtrl" id="scrollTop" layout="row" layout-align="space-between center" class="md-primary md-hue-2">
  <img src="../images/logo.svg" width="200" alt="The top ten web logo" />
  <div flex></div>
  <md-button ng-show="thumbnailCtrl.showArticle" ng-click="thumbnailCtrl.scrollToTop(); thumbnailCtrl.showArticle=false;" class="md-warn">
    Back
  </md-button>
  <md-button class="md-raised md-primary" ui-sref="home">Inicio</md-button>
  <md-button ng-if="thumbnailCtrl.adminMode" class="md-raised md-primary" ui-sref="form">Añadir articulo</md-button>
  <md-button ng-show="!thumbnailCtrl.isSidebarHidden" ng-click="thumbnailCtrl.isSidebarHidden=!thumbnailCtrl.isSidebarHidden" class="md-raised md-primary">Hide sidebar</md-button>
  <md-button ng-show="thumbnailCtrl.isSidebarHidden" ng-click="thumbnailCtrl.isSidebarHidden=!thumbnailCtrl.isSidebarHidden" class="md-raised md-accent">Show sidebar</md-button>
  <md-button ng-click="thumbnailCtrl.adminMode=!thumbnailCtrl.adminMode" ng-show ="thumbnailCtrl.adminMode" class="md-raised md-primary">Turn off admin mode</md-button>
  <md-button ng-click="thumbnailCtrl.adminMode=!thumbnailCtrl.adminMode" ng-show="!thumbnailCtrl.adminMode" class="md-raised md-accent">Turn on admin mode</md-button>
    <md-button ui-sref="signin">Sign In</md-button>
    <md-button ui-sref="signup">Sign Up</md-button>
    <md-button ng-click="loginCtrl.signOut()">Sign Out</md-button>
  <md-button class="md-raised md-primary md-hue-1">
    {{loginCtrl.username}}
  </md-button>
</md-toolbar>
